.banner-fitt {
  width: 100%;
}

.banner-fitt__container {
  width: 100%;
}

.banner-fitt--contained .banner-fitt__container {
  max-width: var(--page-width, 1200px);
  margin: 0 auto;
}

.banner-fitt__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.banner-fitt__media {
  position: relative;
  width: 100%;
  padding-top: var(--banner-ratio-mobile);
  overflow: hidden;
  background: #f5f5f5;
}

.banner-fitt__media picture,
.banner-fitt__media img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.banner-fitt__media img {
  object-fit: cover;
}

.banner-fitt__image {
}

.banner-fitt__placeholder {
  position: absolute;
  inset: 0;
}

/* Desktop */
@media screen and (min-width: 64rem) {
  .banner-fitt__media {
    padding-top: var(--banner-ratio-desktop);
  }
}
