.newsletter-banner {
  background: #f5f5f5;
  padding: 35px 0;
  text-align: center;
}

.newsletter-banner__content {
  max-width: 772px;
  margin: auto;
  width: 100%;
}

.newsletter-banner__title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

.newsletter-banner__title p {
  margin: 0;
}

.newsletter-banner__title p strong {
  font-weight: 600;
  color: #d81b60;
}

@media screen and (min-width: 64rem) {
  .newsletter-banner__title {
    font-size: 20px;
  }
}

.newsletter-form-custom .field-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 64rem) {
  .newsletter-form-custom .field-group {
    flex-direction: row;
  }
}

.newsletter-form-custom input {
  padding: 12px;
  min-width: 277px;
  height: 40px;

  box-sizing: border-box;

  border: 1px solid #000;
  background-color: #fff;

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.newsletter-form-custom input:focus {
  outline: none;
  border-color: #d81b60;
  box-shadow: 0 0 0 1px rgba(216, 27, 96, 0.1);
  padding: 12px;
}

.newsletter-form__button {
  background: #d81b60;
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;

  width: 100%;
  max-width: 178px;
  height: 40px;
}

.newsletter-form-custom input::placeholder {
  color: #4f4f4f;
  opacity: 1;
}

.newsletter-form-custom input::-webkit-input-placeholder,
.newsletter-form-custom input:-ms-input-placeholder,
.newsletter-form-custom input::-ms-input-placeholder {
  color: #4f4f4f;
}

.footer-main {
  background: #fff;
  padding: 48px 16px;
}

@media screen and (min-width: 64rem) {
  .footer-main {
    padding: 48px 56px;
  }
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 50px;
}

@media screen and (min-width: 64rem) {
  .footer-content {
    grid-template-columns: 1.4fr 1fr 1fr 1fr 1.2fr;
  }
}

.footer-brand-logo {
  width: 169.2px;
  height: 36px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-column__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
  margin: 0;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-menu li {
  margin: 0;
  line-height: 24px;
}

.footer-menu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
  text-decoration: none;
  animation: linear 0.2s;
}

.footer-menu a:hover {
  color: #d81b60;
}

@keyframes linear {
  from {
    color: #4f4f4f;
  }
  to {
    color: #d81b60;
  }
}

/* BRAND */
.brand-name {
  font-size: 26px;
  font-weight: bold;
}

.footer-social {
  margin-top: 20px;
  display: flex;
  gap: 32px;
}

.footer-social a img {
  width: 24px;
  height: 24px;
}

.payment-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  max-width: 162px;
  width: 100%;
}

.payment-icons img {
  width: 34px;
  height: 24px;
  object-fit: contain;
}

/* FOOTER BOTTOM */
.footer-separator {
  height: 1px;
  background: #e5e5e5;
}

.footer-bottom {
  padding: 32px 20px;
  text-align: center;
  font-size: 12px;
  color: #4f4f4f;
  border-top: 1px solid #4f4f4f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bottom__content {
  max-width: 557px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer-legal {
  font-style: normal;
}

.footer-bottom__content p {
  margin: 0;
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #4f4f4f;
}

.footer-bottom__links {
  margin-top: 27px;
}

.footer-bottom__links a {
  margin: 0 8px;
  color: #4f4f4f;
  text-decoration: none;
}
