.featured-cta {
  background-color: var(--color-background-muted);
  color: var(--color-brand-neutral);
  padding: 32px 0;
}

.featured-cta__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.featured-cta__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.featured-cta__content h2,
.featured-cta__content p,
.featured-cta__content a {
  display: flex;
  width: 100%;
}

.featured-cta__title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  color: var(--color-brand-neutral);
}

.featured-cta__description {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  color: var(--color-brand-neutral);
}

.featured-cta__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 156px;
  height: 48px;
  padding: 0 24px;
  background-color: var(--color-brand-primary);
  color: var(--color-brand-light);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.featured-cta__image-wrapper {
  display: block;
  overflow: hidden;
}

.featured-cta__image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

@media (hover: hover) {
  .featured-cta__button:hover {
    transform: translateY(-1px);
    filter: brightness(0.9);
  }

  .featured-cta__image-wrapper:hover img {
    transform: scale(1.05);
  }
}

@media screen and (min-width: 48rem) {
  .featured-cta__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
  }

  .featured-cta__content {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
  }

  .featured-cta__image-wrapper {
    width: 50%;
  }

  .featured-cta__title {
    font-size: 26px;
  }

  .featured-cta__button {
    margin-top: 16px;
  }
}

@media screen and (min-width: 64rem) {
  .featured-cta__description,
  .featured-cta__title {
    font-weight: 400;
    color: var(--color-brand-neutral);
  }

  .featured-cta__title {
    font-size: var(--font-size-title-md);
  }

  .featured-cta__description {
    font-size: var(--font-size-caption);
  }
}
